body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 50px;

}

.header a {
    font-size: 16px;
    color: aquamarine;
   
}

.content {
    color: white;
}
.content h2{
    font-weight: 300;
    font-size: 42px;
}

.content p {
    font-size: 21px;
    color: gray;
}

.apps {
    color: white;
    margin: 20px
}
.apps a {
    font-size: 16px;
    color: aquamarine;
   
}
.apps h2{
    font-weight: 300;
    font-size: 42px;
}

footer {
    text-align: right;
    color: gray;
}